<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'clearance' : beer.clearance}" *ngFor="let beer of beers">
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price  | currency}}</td>
            <td><span class="badge text-bg-danger" *ngIf="beer.stock == 0">Sin Stock</span></td>
            <td><img width="90px" height="90px" [src]="beer.image" [alt]="beer.name"><td>
        </tr>
       
    </tbody>
</table>