/* You can add global styles to this file, and also import other style files */
footer{
    display: flex;
    color: white;
    background: black;
    height: 50px;
    align-items: center;
    justify-content: center;
}